@import url(https://fonts.googleapis.com/css?family=Poppins:400,600);
*{
  font-family: 'Poppins', sans-serif;
}

h1, h4 {
  font-weight: 600;
}

.test {
  background-color: yellow;
}

p, select, label {
  font-weight: 400;
  font-size: 1.25em;
}

small {
  font-weight: 400;
}

/*the side stuff , TODO alphabetize*/

.side {
  height: 100%;
  position:fixed;
  overflow: hidden;
}

.left-side {
  background-color: pink;
}

.right-side {
  background-color: orange;
}


body {
  background-color: #f2f2f2;
}

.answer-hr, .score-hr {
  padding-bottom: 0.5em;
  border-bottom: 2px solid #333;
}

.score-hr {
  padding-top: 0.5em;
}

.brand {
  margin-top: 1em;
}

.border-bottom {
  padding-bottom: 1em;
  border-bottom: 2px solid #333;
}

button {
  margin-top: 1em;
  display: block;
  width: 100%;
}

.button-submit {
  margin-top: 0.75em;
  margin-bottom: 5em;
}

.copy {
  margin-top: 2em;
  text-align: center;
}

.header-border-top {
  border-top: 2px solid #333;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5em;
  background-color: #e6e6e6;
  padding-top: 0.5em;
}

.footer-span {
  padding-right: 2em;
}

.cover {
  background-color: #333;
}

input {
  background-color: #fbfbfb;
}

label {
  margin-top: 1em;
}

.leaderboard-labels {
  border-bottom: 2px solid #333;
}

.edge {
  border-left: 2px solid #333;
}

ol {
  padding-left: 0;
}

.right {
  text-align: center;
}

select {
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
  background-color: #fbfbfb;
}

textarea {
  width: 100%;
  background-color: #fbfbfb;
}

.underline-thick {
  border-bottom: 5px solid #333;
  margin-bottom: 1em;
}

.underline-thick-score {
  border-bottom: 5px solid #333;
  padding-bottom: 0;
}

.question {
  padding-bottom: 1em;
}

.question-info {
  margin-top: 1em;
}

.question-box {
  border: 2px solid #333;
}

/*Button layout*/

a{
  text-decoration: none !important;
}

.button{
  /*background: #ff6161; fusia*/
  background-color: lightgrey;
  cursor: pointer;
  color:black;
  height: 50px;
  line-height: 50px;
  margin: 10px ;
  overflow: hidden;
  text-align: center;
  transition: .2s;
  width: 200px;

}

/*.btnTwo{
  position: relative;
  width: 200px;
  height: 50px;
  margin-top: -163.5px;
  background: orange;
  transition: .3s;
  line-height: 50px;
  margin-left: -150px;
}*/

.btnText1 {
  transition : .3s;
  text-decoration: none;
}

.btnText2 {
  margin-top : 64px;
  margin-right : -150px;
  /*margin-top: -113.5px;*/
}

.button:hover .btnText{
  background-color: orange;
  opacity: 0.8;
}

/*.button:hover .btnTwo{ 
  When hovering over .button change .btnTwo
  margin-top: -113.5px;
  text-decoration: none;
}*/

/*.button:hover .btnText{ 
  When hovering over .button change .btnText
  margin-top: -113.5px;
  margin-left : 65px;
}*/

.button:hover .btnText1{ 
/*  When hovering over .button change .btnText*/
  background-color: pink;
}

.holder {
  display: inline-flex;
  width:800px;
}

.button-submit {
  border: none;
  height: 40px;
  line-height: 40px;
  width: 80px;
  background-color: lightgrey;
}

.button-submit:hover {
  background-color: pink;
}


.link-button button{
  border: none;
  height: 40px;
  line-height: 40px;
  width: 80px;
  /*margin: 0;*/
  padding: 0;
  background-color: lightgrey;
  text-decoration: none;
  color: black;
}

.link-button button:hover {
  background-color: orange;
  opacity: 0.8;
}