@import url(https://fonts.googleapis.com/css?family=Poppins:400,600);

h1, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p, select, label {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
}

small {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

body {
  background-color: #f2f2f2;
}

.answer-hr, .score-hr {
  padding-bottom: 0.5em;
  border-bottom: 2px solid #333;
}

.score-hr {
  padding-top: 0.5em;
}

.brand {
  margin-top: 1.5em;
}

button {
  margin-top: 1em;
  display: block;
  width: 100%;
}

.button-submit {
  margin-top: 0.75em;
  margin-bottom: 5em;
}

.header-border-top {
  border-top: 2px solid #333;
  margin-top: 1em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5em;
  background-color: #e6e6e6;
  padding-top: 0.5em;
}

.footer-span {
  padding-right: 2em;
}

.header-pitch {
  height: 9em;
  border-bottom: 2px solid #333;
  border-top: 2px solid #333;
  margin-top: 1em;
}

.index-names {
  margin-top: 1em;
}

input {
  background-color: #fbfbfb;
}

label {
  margin-top: 1em;
}

.leaderboard-labels {
  border-bottom: 2px solid #333;
}

.edge {
  border-left: 2px solid #333;
}

ol {
  padding-left: 0;
}

.right {
  text-align: center;
}

select {
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
  background-color: #fbfbfb;
}

textarea {
  width: 100%;
  background-color: #fbfbfb;
}

.underline-thick {
  border-bottom: 5px solid #333;
  margin-bottom: 0;
}

.question-info {
  margin-top: 1em;
}

.question-box {
  margin-top: 1em;
  border: 2px solid #333;
}

/*Button layout*/
a{
  text-decoration: none !important;
}
.button{
  background: #ff6161;
  margin: 10px auto;
  width: 200px;
  height: 50px;
  padding-top: 5%;
  overflow: hidden;
  text-align: center;
  transition: .2s;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
.btnTwo{
  position: relative;
  width: 200px;
  height: 100px;
  margin-top: -100px;
  padding-top: 0px;
  background: #57a346;
  left: -250px;
  transition: .3s;
}
.btnText {
  color : white;
  transition : .3s;
}
.btnText_1 {
  color : white;
  transition : .3s;
  text-decoration: none;
}
.btnText2 {
  margin-top : 63px;
  margin-right : -130px;
  color : white;
  padding-top: 20px;

}
.button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -110px;
  text-decoration: none;
}
.button:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.button:hover .btnText_1{ /*When hovering over .button change .btnText*/
  margin-left : 1px;

}
.button:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}
#holder{
-moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-user-select: none;
background: #e69eed;
padding: 10px;
width:250px;
margin: 0 auto;
position: relative;
top: 60%;
transform: translateY(-5%);
box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
border-radius: 2px;
}
.player_names{
  text-align: center;
}
.title {
  text-align: center;
}