<h1> result page</h1>
<ol>
<% @all_players.each do |player| %>
  <li><%= player.name %>   <%= player.points %></li>

<% end %>
</ol>
<button><a href="/final_result">Final Result</a></button>

<button><a href="/question/<%= @next_question %>">Next Question</a></button>