<div class="left-side side col-md-3">
  <img class="image-left" src="/assets/images/ceasar-colour.png">
  <img src="/assets/images/beer_angle-colour.png">
  <img class="image-left" src="/assets/images/shot-bw.png">
</div>

<div class="right-side side col-md-3 col-md-offset-9">
  <img src="/assets/images/beer-bw.png">
  <img class="image-left" src="/assets/images/shot_angle-colour.png">
  <img src="/assets/images/cheers-bw.png">
</div>