<div class="container-fluid">

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h4 class="brand">frivia</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 header-pitch">
      <h1>A trivia game you can play with your friends.</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p class="index-names">
        <% @all_players.each do |player| %>
          <%= player.name %>
        <% end %>
      </p>
    </div>
  </div>
  <!-- Buttons -->
  <div id="holder">

  <a href="/players/new">
    <div class="button">
      <p class="btnText_1">Add Player</p>
    </div>
  </a>

    <a style="display:block" href="/question/1">
      <div class="button">
        <p class="btnText">Start</p>
        <div class="btnTwo">
          <p class="btnText2">GO</p>
        </div>
      </div>
    </a>
  </div>

  <!-- <div class="row">
    <div class="col-md-2 col-md-offset-4">
      <button>
        <a href="/players/new">Add Player</a>
      </button>
    </div>

    <div class="col-md-2">
      <button>
        <a href="/question/one">Start</a>
      </button>
    </div>
  </div> -->

</div>