 <%= erb :_sides %>
 
<div class="container-fluid">

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h4 class="brand">frivia</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 header-border-top border-bottom">
      <h1>A trivia game you can play with your friends.</h1>
    </div>
 
    <div class="col-md-4 col-md-offset-4">
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 col-md-offset-4 copy">
      <p>
        <% @all_players.each do |player| %>
         · <%= player.name %> 
        <% end %> ·
      </p>
    </div>
  </div>

 

  <!-- Buttons -->
  <div class="row">
    <div class="holder col-md-8 col-md-offset-4" >

      <a href="/players/new">
        <div class="button">
          <p class="btnText1">Add Player</p>
        </div>
      </a>


      <a href="/question/1">
        <div class="button">
            <p class="btnText">Start</p>
            <div class="btnTwo">
              <p class="btnText2">GO</p>
            </div>
        </div>
      </a>

    </div>
  </div>


  <!-- <div class="row">
    <div class="col-md-2 col-md-offset-4">
      <button>
        <a href="/players/new">Add Player</a>
      </button>
    </div>

    <div class="col-md-2">
      <button>
        <a href="/question/1">Start</a>
      </button>
    </div>
  </div> -->

</div>
