<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/stylesheets/normalize.css"> -->
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
  <!-- <script src="/javascript/vendor/jquery-3.1.0.js"></script> -->
  <script src="/javascript/vendor/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <%= erb :_sides %>
  <%= yield %>
</body>

<footer>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">  
        <small>&copy; frivia<span class="footer-span"></span>A rounds worth of dollars is at stake.</small>
    </div>
  </div>
</footer>

</html>

